
  body {
    background-color: lightblue;
    padding: 0 0 0 20%;
    margin: 5%;
    display: table-cell;
      vertical-align: middle
  }
.center{
    margin:auto;
    width: 30%;
    padding: 120px;
    font-style: italic;
    font-size: 30px;
    text-align: center;

  }
  input[type=text], select {
  width: 150%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



  #countryList {
    width: 70%;
    padding-left: 11%;
  }
